<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/author-kitty.html">About</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/travel.html">Travel</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/life-abroad.html">Life Abroad</a>
</li>
<!-- <li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/food-and-drink.html">Food & Drink</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/books.html">Books</a>
</li> -->
<!--<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">Contact</a>
</li>-->
